<div class="bg_profil">
    <div class="student_profil_title">
        <h1>Gratulacje !</h1></div>
    <div class="student_profil_content">
        <p>Cieszymy się że dotarłeś do końca historii. Mamy nadzieję że taki sposób prowadzenia zajęć podobał Ci się.</p>
        <br>
        <p>będziemy wdzięczni jeśli wypełnisz ankietę i pomożesz nam przy dalszych pracach nad projektem</p>
        <%=link_to "Ankieta", @ankieta_url%>
    </div>
</div>